.social-login
    button.social-login--github
        span
            i.fab.fa-github
            | Conitnue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
            | Conitnue with Facebook